.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #323436;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-white {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* login */
.login {
  background: #61d341;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

.login-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  position: relative;
  max-width: 310px;
  margin: auto;
  width: 100%;
}

.login-container h4 {
  font-size: 35px;
  padding-left: 10px;
  margin-bottom: 40px;
  text-align: left;
  transition: .25 ease;
}

.login-close {
  position: absolute;
  top: 20px;
  right: 0px;
  cursor: pointer;
  font-size: 25px;
  z-index: 9;
}

.login-container .primary {
  border: 1px solid #61d341;
  color: #61d341;
  background-color: white;
  text-align: center;
  font-weight: 600;
}

.login-container .primary:hover {
  border: 1px solid #61d341;
  color: #61d341;
}

.login-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  position: relative;
  max-width: 310px;
  margin: auto;
  width: 100%;
  color: white;
  border-top: 1px solid white;
}

.login-bottom a {
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/* pay */
.pay {
  position: relative;
  z-index: 9;
  height: 100vh;
  width: 100vw;
  background: #61d341;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  position: relative;
  max-width: 340px;
  margin: auto;
  width: 100%;
}

.pay-close {
  position: absolute;
  top: -15px;
  right: 10px;
  cursor: pointer;
  font-size: 25px;
  z-index: 9;
}

.pay-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pay-button {
  border: 2px solid white;
  color: white;
  border-radius: 13px;
  padding: 10px 20px;
  font-size: 14px;
  transition: .25s ease;
  cursor: pointer;
}

.pay-button:hover {
  border: 2px solid #61d341;
  color: #61d341;
  background-color: white;
  border-radius: 13px;
  padding: 10px 20px;
  font-size: 14px;
}

.pay-button.disabled {
  cursor: inherit;
  background: gray;
  border: 2px solid transparent;
}

.pay-button.disabled:hover {
  background: gray;
  border: 2px solid transparent;
  color: white;
}

.pay-operation {
  margin-top: 20px;
}

.pay-operation form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pay-operation label {
  font-size: 17px;
  padding-top: 8px;
  margin-bottom: 8px;
}

.pay-operation input {
  margin: 10px 0;
  border: none;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  border: none;
  padding: 6px;
  text-align: center;
}

.pay-operation button {
  margin-top: 8px;
  border: none;
  background-color: white;
  padding: 10px 20px;
  border-radius: 8px;
  color: #61d341;
  font-weight: 600;
}

/* pay */
.pay-success {
  position: relative;
  z-index: 9;
  padding: 50px 0 20px 0;
  width: 40vw;
  background: #61d341;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 12px;
  transition: .25s linear;
  display: flex;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: white !important;
}


/* utils */

.d-flex {
  display: flex;
  justify-content: center;
}
.green {
  color: #61d341;
}
.d-none {
  display: none;
}

